@font-face {
    font-family: "FontILike";
    src: url("./AntonSC-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    background-color: rgb(90, 53, 22);
    height: 17vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 5px;
    border: #000000c5 solid 2px;
    position: fixed;
    z-index: 10;
}

nav {
    position: fixed;
    width: 15vw;
    height: 45vh;
    border-right: #000000c5 solid 2px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    justify-content:space-evenly;
    background-color: rgb(90, 53, 22) ;
    top: -45vh;
    transition: top 1s;
}

#trigger {
    position: fixed;
    top: 17vh;
    width: 5vw;
    aspect-ratio: 1;
    border-right: #000000c5 solid 2px;
    background-color: rgb(90, 53, 22);
    background-image: url(../asset/applications.png);
    background-repeat: no-repeat;
    background-size:contain;
    z-index: 3;
    transition: top 1s;
    
}

h1,h2 {
    width: fit-content;
    
    }

body {
    font-size: 1.5rem;
    background-color: blanchedalmond;
    /*-webkit-text-stroke: 0.5px black;*/
    /*background-image: url("../asset/galaxy.jpg");*/
    font-family: "FontILike", serif;
}

p {
    background: -webkit-linear-gradient(#ac4949, #48559e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logoHeader {
    height: 100%;
    
}

#titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-right: 15vw;
}

article {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.733);
    padding: 10px;
    border: #ac4949 solid 3px;
    border-radius: 5px;
    margin: 2vh;
}

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 17vh;
}


#divIMG {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    aspect-ratio: 1904/640;
    width: 100vw;
    background-image: url(../asset/library.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 16vh;
}

#divIMG>h2{
    color: blanchedalmond;
    padding-right: 5vw;
}

.button {
    display: block;
    text-decoration: none;
    width: 80%;
    height: 5vh;
    text-align: center;
    padding-top: .5vh;
    border-radius: 2.5vh;
    background-color: blanchedalmond;
    box-shadow: black 3px 3px 5px 0;
    transition: box-shadow 2s;
    color: rgb(90, 53, 22);
    
}

.button:hover {
    box-shadow: 0px 0px 0px 0;
    border: blanchedalmond solid 2px;
    color: blanchedalmond;
    background-color: rgb(90, 53, 22);
}